
<div class="show-mobile">
  <div>
    <button (click)="ocultarMenu($event)">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/images/app-logo.png" alt="logo" width="100">
    </a>
    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <div class="side-menu" [ngClass]="{'active': menuStatus,}">
    <button class="close-menu" (click)="ocultarMenu($event)">
      Close
    </button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>

<!--PARA ESCRITORIO-->
<div class="hide-mobile">
  <div>
    <nav class="left-part">
      <a class="logo" href="">
        <img src="./assets/images/app-logo.png" alt="logo" width="100">
      </a>
      <ul class="left-part menu">
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">{{email}}</div>
      <div class="cart">
        <a>
          <img (click)="ocultarLista()" src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="cart-count">{{counter}}</span>
      </div>
      <div class="cart px-2">
        <button class="btn btn-danger" (click)="cerrarSesion()"><i class="icon ion-md-log"></i> Cerrar Sesión</button>

      </div>
    </div>
  </div>
</div>

<!-- CONTENEDOR DE LISTA DE PRODUCTOS -->
<div  class="list-container"  [ngClass]="{'active': listState}">
  <div class="list-header">
    <h1 class="list-title">Shopping Cart</h1>
    <button class="close-list" (click)="ocultarLista()">X</button>
  </div>

  <ul class="product-list">
    <li *ngFor="let product of cart">
      <div class="product">
        <img [src]="product.images[0]" alt="image" width="100">
        <div class="product-info">
          <h2 class="product-title">{{product.title}}</h2>
          <!-- <h2 class="product-title">{{product.id}}</h2> -->
          <p class="product-price">{{product.price | currency:'COP'}}</p>
        </div>
        <div class="product-actions">
          <button class="btn-delete" (click)="quitarPorducto(product)">Quitar</button>
        </div>
      </div>
    </li>
  </ul>
</div>
