.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  // color: #212529;
}
.table-container .table {
  // DISEÑO DE LA TABLA, BORDES, ESPACIADO, ETC
  width: 90%;
  margin: 1rem 0 0 0;
  color: #212529;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px #4f4f4f;
  }
}

// ---- BOTON DE CREAR LISTA ---- //
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
  width: 100%;
}
