<!--CONTENEDOR DEL NAV-->
<app-nav></app-nav>

<table class="table table-hover" id="consulta_susp">
  <thead class="table-secondary">
  <tr>

      <!-- <th scope="col">Id</th> -->
      <th scope="col">#</th>
      <th scope="col">Nombre lista</th>
      <th scope="col">Fecha Lista</th>
      <th scope="col">Acciones</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let elem of liCompras2; let indice=index">
        <!-- INDICE DEL ARRAY DE LISTA DE COMPRAS SOLO PARA MOSTRAR -->
       <td >{{indice + 1}}</td>
       <!-- INDICE DEL ARRAY DE LISTA DE COMPRAS -->
       <!-- <td>{{liCompras.indexOf(elem)}}</td> -->
      <td >{{elem.nombre_lista}}</td>
      <td >{{elem.fecha_lista}}</td>
      <td >
        <div class="d-flex">
          <div class="px-2"><button class="btn btn-success" [routerLink]="['/tienda']">Agregar Productos</button></div>
          <div class="px-2"><a class="btn btn-warning" (click)="actualizarLista(liCompras.indexOf(elem), elem)">Editar</a></div>
          <div class="px-2"><button class="btn btn-danger" (click)="deleteListaCompra(indice)">Eliminar</button></div>
        </div>
      </td>


  </tr>
  </tbody>
</table>

<!-- BOTON PARA CREAR UNA NUEVA LISTA -->
<div>
  <button class="btn btn-primary" (click)="crearLista()">Crear Lista</button>
</div>

